{% extends "base.html" %}

{% block content %}
    {% if neighborhoods %}
        <div class="field">
            <div class="select">
                <label>
                    <select name="zipcode">
                        {% for neighborhood in neighborhoods %}
                            <option value="{{ neighborhood.id }}">
                                {{ neighborhood.name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
    {% endif %}
{% endblock %}
