{% extends "base.html" %}

{% block content %}
    <form name="sepomex">
        <div class="field">
            {{ form.zipcode(class='input', placeholder='97314') }}
        </div>
    </form>

    <div class="field">
        <div class="select">
            <select name="{{ form.neighborhoods.name }}">
                <option>Select an option here</option>
                {%- for k, v in form.neighborhoods.choices %}
                    <option value="{{ k }}">{{ v }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
{% endblock %}
