{% extends "base.html" %}

{% block content %}
    {% if neighborhoods %}
        {% set neighborhood = neighborhoods|first %}
        <div class="card">
            <div class="card-content">
                <div class="content">
                    <h2 class="title is-1">
                        {{ neighborhood.postal_code }}
                    </h2>

                    <div class="field">
                        <label class="label">State:</label>
                        <div class="control">
                            {{ neighborhood.municipality.state.name }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Municipality:</label>
                        <div class="control">
                            {{ neighborhood.municipality.name }}
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Neighborhoods:</label>
                        <div class="control">
                            <div class="tags">
                                {% for neighborhood in neighborhoods %}
                                    <span class="tag is-success is-light">
                                        {{ neighborhood.name }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
