<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ static_url('static', filename='css/main.css') }}">
    <title>GeoT</title>
</head>
<body>
    <nav class="navbar is-success is-spaced" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <form method="post" action="{{ url_for('.index') }}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                            <div class="field has-addons">
                                <div class="control">
                                    <input name="zipcode" class="input" type="text" placeholder="Find a postal code"
                                           autofocus autocomplete="off"
                                    />
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-info">
                                        Search
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <a class="navbar-item" href="#">
                        Sign up
                    </a>

                    <a class="navbar-item" href="#">
                        Sign in
                    </a>
                </div>

                <div class="navbar-end">
                    <a class="navbar-item" href="#">
                        API-v1.0 Docs
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <section class="section">
        <div class="container">
            {% block content %}{% endblock %}
        <ko-wrapper>
            <ko-skips id="ko-skips"></ko-skips>
        </ko-wrapper>
        </div>
    </section>
    <script src="{{ static_url('static', filename='js/main.js') }}"></script>
</body>
</html>
