@charset "utf-8";

@import "~bulma/sass/utilities/all";
@import "~bulma/sass/base/all";

@import "~bulma/sass/components/navbar";

@import "~bulma/sass/layout/section";

@import "~bulma/sass/form/shared";
@import "~bulma/sass/form/tools";
@import "~bulma/sass/form/input-textarea";
@import "~bulma/sass/form/select";

@import "~bulma/sass/elements/container";
@import "~bulma/sass/elements/button";

// @import "~bulma";
