{% extends "base.html" %}

{% block content %}
    <form method="post">
        {{ form.csrf_token }}
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                {{ form.email(class='input') }}
            </div>
        </div>

        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                {{ form.password(class='input') }}
            </div>
        </div>

        <div class="field">
            <label class="label">Confirm your password</label>
            <div class="control">
                {{ form.confirmation(class='input') }}
            </div>
        </div>

        <div class="field">
          <p class="control">
            <button class="button is-success">
              Login
            </button>
          </p>
        </div>
    </form>
{% endblock %}
